<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="./../js/config.js"></script>
    <script src="./../js/options.js"></script>
</head>
<body>
    <h2>Default Settings</h2>
    <p>
        <b>Password Digits: </b>
        <input id="input_password_digits" type="number" step="1" min="1"
                required style="width:50px">
    </p>
    <p>
        <input id="input_use_numbers"   type="checkbox"> Use Numbers    <br/>
        <input id="input_use_uppercase" type="checkbox"> Use Uppercase  <br/>
        <input id="input_use_lowercase" type="checkbox"> Use Lowercase  <br/>
        <input id="input_use_underline" type="checkbox"> Use UnderLine  <br/>
        <input id="input_use_space"     type="checkbox"> Use Space      <br/>
    </p>
    <p>
        <button id="save_options">save</button>
    </p>
</body>
</html>
